
/*Width and height apply to all parts of the element: content, padding and borders:*/
/** {*/
    /*box-sizing: border-box;*/
/*}*/

/* body stylings */
html, body {
    margin: 0;
    padding: 0;
    background-color: #328cc1;
    font-family: Arial, Helvetica, sans-serif;
}

/* This governs the background picture. */
.jumbotron-fluid {
    background-image: url("../img/fox1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5%;
    position: center;
    top: 15%;
    left: 0px;
    right: 0px;
    min-height: 1000px;
    z-index: 3;
    }

/* This governs the the content that the user will want to view or interact with. */
.container-fluid {
    background: #d9d9d9;
    opacity: 0.9;
    border-radius: 15px;
    margin: auto;
    margin-top: 7%;
    position: relative;
    width: 70%;
    border: 3px solid #1D2731;
    padding: 2%;
    padding-top: 0%;
    box-shadow: 5px 10px 8px #0c0c0c;
    font-family: 'Archivo Black', sans-serif;
    color: #0b3c5d;
    overflow: auto;
}

/* Custom container size for smaller forms */
.container-sizer {
    max-width: 40%;
}

/* Top of the page. Logo and login button will be found here. */
.header {
    background-color: #328cc1;
    padding-left: 2%;
    position: fixed;
    width: 100%;
    z-index: 30;
    border-bottom: 10px solid #1D2731;
    height: 115px;
}
/* Index page column styling. */
.home{
 column-count: 2;
}

/* Title on index page styling. */
.homeTitle {
    text-align:  center;
    column-span: all;
    color: #328cc1;
    }

/* Governs the font and colour used on the label tag. */
label {
    font-family: Helvetica;
    color: #1D2731;
}

/* Styles the input fields, selects and textarea tags with the same font family. */
input, select, textarea{
    /*border: 1px solid #1D2731;*/
    font-family: 'Arial', sans-serif;
}

p {
    font-family: 'Arial', sans-serif;

}

/* Titles in menus will use this colour across the site.  */
h1, h2 {
    color: #328cc1;

}


h4{
    display: inline;
}

/* 1.  Navbar settings for the top menu. Include Stars logo.  */
.starnav {
    position: relative;
    right: 0px;
    float: left;
    /*border: 10px solid #912b88;*/
    height: 115px;
    top: 0px;
}

/* 2. Navbar settings for the top menu. Include Welcome message and login button. Sizing and positing of divs. */
.topnav {
    position: relative;
    float: right;
    height: 115px;
    padding-top: 25px;
    /*border: 10px solid #912b88;*/

}

/* 3.  Navbar settings for the top menu. Include Welcome message and login button. Font styling and colour. */
.welcome {
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #fffbfb;
}




/* The Foot elements take care of the bottom navbar and all style functionality therein. */
#footer {
    position: fixed;
    bottom: 5%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: #1D2731;
    z-index: 5;
}

#footer li ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 20px;

}

#footerMenu {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

/* Removes the underline from <a> tags in the navbar. */
#footerMenu a {

    text-decoration: none;
}

#footerMenu li {
    list-style: none;
    float: left;
    font-size: 16px;
    padding: 12px 14px 14px 14px;
    color: rgb(217, 217, 217);
}

#footerMenu li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
    padding-bottom: 9px;
}

#footerMenu li ul.dropupMenu {
    display: none;
    width: 15%;
}

#footerMenu li:hover ul.dropupMenu {
    display: block;
    position: absolute;
    margin: 0 0 0 -15px;
    bottom: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: none;
    background: #1D2731;
}

#footerMenu li:hover li {
    float: none;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 12px 10px 12px 10px;
}

/* Settings for the main navbar */
.titleNav {
    min-width: 15%;
    text-align: center;
    height: 15px;
}

/* This takes care of the blue space below the nav bar and ends the page. */
.bottom {
    position: fixed;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
    background: #328cc1;
    z-index: 2;
}

/* Referenceed from here: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover*/
/* The button styling below is for the yellow form button found throughout the site. */
/*Applies basic button styling*/
.button {
    float: right;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 7px 4px #0c0c0c;

}
.button:focus{
    outline: none;
}
.button2:focus{
    outline: none;
}
/*Applies specific button colorings*/
.button2 {
    background-color: #d9b310;
    color: white;
    border: 2px solid #785616;
}

.button2:hover {
    background-color: #ae8d0e;
    color: white;
}

/* Referenced here: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.button:active {
    background-color: #ae8d0e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.up-arrow {
    display: inline-block;
    position: relative;
    border: 1px solid #777777;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px;
    margin-top: 50px;
}
.up-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: 140px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
}

.up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 141px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;
}


/* Sizes the div used for the login div on the login.php page. */
.login {

    width: 40%;
}

/* The displayed report cards top is organized here. */
.reportCardHead {
    width: 100%;
    padding: 0px;
    border-bottom: 3px solid #252525;
}

/* At the bottom of the page is a section for the parent to sign off that they have viewed the report car. The confirm button will update the database. This governs this section. */
.reportSignOff {
    width: 100%;
    padding-top: 2%;
    border-top: 3px solid #252525;
    text-align: justify;
}

/* Governs the side of the report card where courses, marks and missed days can be seen on the report cart. */
.reportCardSide {
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
    text-align: center;

}
/* Table rows within the report card side will not have borders. */
.reportCardSide tr {
    border: none;
}

.reportCardSide td {
    border-right: 3px solid #252525;
}

.reportCardSide thead {
    font-family: inherit;
    font-size: medium;
}

.reportCardSide label {
    margin: auto;
}

.reportCardSide p {
    margin: auto;
}

.cardMenu {
    width: 10%;
}

.reportNote {
    text-align: justify;
    width: 99%;
    padding: 2%;
}

.container {
    width: 100%;
    padding: 0;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .container-fluid, .spacer {
        width: 100%;
    }
}

.container-larger {
    max-width: 100%;
}
.container-larger h2{
    color: #328cc1;

}

.row-header {
    margin-left: 0px;
    margin-right: 0px;

}

.p2::first-line {
    font-weight: bold;
}

.row {
    margin:0 !important;
}

.chart-container {
    min-height:150px;
    max-width: 645px;
}

.chart-sizer {
    max-width: 55%;
}


.tableHeads {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #328cc1;
}

.tableInfo {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.tableHeadsIEP {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #0b3c5d;
}
/*Error message formatting*/
.alert-danger {
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}