* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #328cc1;
    font-family: Arial, Helvetica, sans-serif;
}

/* This governs the background picture. */
.jumbotron-fluid {
    background-image: url("../img/fox1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5%;
    position: center;
    top: 15%;
    left: 0px;
    right: 0px;
    height: 860px;
    z-index: 3;
    }

/* This governs the forms or reports. */
.container-fluid {
    background: #d9d9d9;
    opacity: 0.9;
    border-radius: 15px;
    margin: auto;
    margin-top: 7%;
    position: relative;
    width: 70%;
    border: 3px solid #1D2731;
    padding: 2%;
    padding-top: 0%;
    box-shadow: 5px 10px 8px #0c0c0c;
    font-family: 'Archivo Black', sans-serif;
    color: #0b3c5d;
    overflow: auto;
}

/* Top of the page */
.header {
    background-color: #328cc1;
    padding-left: 2%;
    position: fixed;
    width: 100%;
    z-index: 30;
    border-bottom: 10px solid #1D2731; ;
}

.home{
 column-count: 2;
}

.homeTitle {
    text-align:  center;
    column-span: all;
    }

label {
    font-family: Helvetica;
    color: #1D2731;
}

input, select{
    border: 1px solid #1D2731;
    font-family: 'Arial', sans-serif;
}

p {
    font-family: 'Arial', sans-serif;

}

h1, h2 {
    color: #328cc1;

}




/* The Foot elemeents take care of the bottom navbar and all style functionality therein. */
#footer {
    position: fixed;
    bottom: 5%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: #1D2731;
    z-index: 5;
}

#footer li ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 20px;

}

#footerMenu {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

/*Removes the underline from <a> tags in the navbar.*/
#footerMenu a {

    text-decoration: none;
}

#footerMenu li {
    list-style: none;
    float: left;
    font-size: 16px;
    padding: 12px 14px 14px 14px;
    color: rgb(217, 217, 217);
}

#footerMenu li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
    padding-bottom: 9px;
}

#footerMenu li ul.dropupMenu {
    display: none;
    width: 15%;
}

#footerMenu li:hover ul.dropupMenu {
    display: block;
    position: absolute;
    margin: 0 0 0 -15px;
    bottom: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: none;
    background: #1D2731;
}

#footerMenu li:hover li {
    float: none;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 12px 10px 12px 10px;
}

/* Settings for the main navbar */
.titleNav {
    min-width: 15%;
    text-align: center;
    height: 15px;
}

/* The bottom take car of the blue space below t he nav bar and ends the page. */
.bottom {
    position: fixed;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
    background: #328cc1;
    z-index: 2;
}

/* Referenceed from here: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover*/
/* The button styling below is for the yellow form button found throughout the site. */
.button {
    float: right;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 7px 4px #0c0c0c;
}

.button2 {
    background-color: #d9b310;
    color: white;
    border: 2px solid #785616;
}

.button2:hover {
    background-color: #ae8d0e;
    color: white;
}

/* Referenced here: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.button:active {
    background-color: #ae8d0e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.up-arrow {
    display: inline-block;
    position: relative;
    border: 1px solid #777777;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px;
    margin-top: 50px;
}
.up-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: 140px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
}

.up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 141px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;
}

.login {

    width: 40%;
}

.reportCardHead {
    width: 100%;
    padding: 0px;
    border-bottom: 3px solid #252525;
}

.reportCardSide {
    width: 45%;
    padding: 0px;
    border-collapse: collapse;

}

.reportCardSide tr {
    border: none;
}

.reportCardSide td {
    border-right: 3px solid #252525;
}

.reportCardSide thead {
    font-family: inherit;
    font-size: medium;
}

.reportCardSide label {
    margin: auto;
}

.reportCardSide p {
    margin: auto;
}

.container {
    width: 100%;
    padding: 0;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .container-fluid, .spacer {
        width: 100%;
    }
}